body {
    padding: 40px 10%;
    font-family: Roboto, sans-serif;
    background-color: #F8F8F8;
}

h1 {
    font-weight: 900;
    font-size:100px;
    margin-left: -4px; /* Get rid of extra spacing before word starts */
}

h3 {
    font-size: 30px;
    font-weight: 300;
}

p {
    font-size: 17px;
    line-height: 1.5;
    max-width: 600px;
    margin-bottom: 20px;
}

b {
    font-weight: 900;
}

a {
    color: black;
}

.hero-images {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.hero-images img {
    border-radius: 2px;
}
.hero-images img:first-child {
    width: 32%;
    float:left;
}
.hero-images img:last-child {
    width: 32%;
    float:right;
}
.hero-images img:nth-child(2) {
    width: 32%;
}

.liftio-gumroad-button {
    display: block;
    width: 100%;
    max-width: 600px;
    text-align: left;
    padding: 20px 20px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-decoration: none;
    font-size: 30px;
    color:grey;
    font-family: Roboto, sans-serif;
    margin: 30px 0;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(112,112,112,0.75);
    -moz-box-shadow: 1px 2px 3px 0px rgba(112,112,112,0.75);
    box-shadow: 1px 2px 3px 0px rgba(112,112,112,0.75);
}
.liftio-gumroad-button:hover {
    background-color: #F2F2F2;
    border: 1px solid #C2C2C2;
}

.liftio-gumroad-button__liftio {
    font-weight: 900;
    color: black;
}
.liftio-gumroad-button__price {
    float:right;
}

.footer {
    font-size: 12px;
}
